body {
    background-color: #333;
    height: 100vh;
}

section#content-main {
    background-color: #333;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-right: 7%;
}

section div#logo img {
    width: 100%;
}

#content-main div#content h1{
    font-family: 'Ubuntu', sans-serif;
    color: var(--text-main-color);
    text-shadow: 0px 0px 8px #000000;
    font-size: 25px;
    text-align: justify;
    text-indent: 50px;
    line-height: 50px;
}

nav#menu ul a#pI {
    background-color: #be1916;
}
