/*Rodape*/
footer{
    background-color: #da302d;
    display: flex;
    padding: 0 15%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-top: 1px solid #bbbbbb;;
}

/*Botão Whats*/
#bWhats a{
    color: var(--button-color);
    font-size: 10pt;
    text-shadow: 0px 0px 4px #000000;
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 10px;
    background-color: var(--button-whats);
    box-shadow: 0px 0px 3px #000000;
    width: 140px;
    justify-content: space-between;
    padding: 0 22px;
    transition: 700ms;
    opacity: 0.7;
}
#bWhats a span{
    display: flex;
}
#bWhats a span::after{
    content: "";
    background-image: url(../_media/_photos/whatsapp-logo.png);
    width: 20px;
    height: 20px;
}
#bWhats a p{
    display: flex;
}
#bWhats a:hover{
    border-radius: 30px;
    background-color: #2dcc40;
    opacity: 1;
}

/*Botão Face*/
#bFace a{
    color: var(--button-color);
    font-size: 10pt;
    text-shadow: 0px 0px 4px #000000;
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 10px;
    background-color: var(--button-face);
    box-shadow: 0px 0px 3px #000000;
    width: 140px;
    justify-content: space-between;
    padding: 0 22px;
    transition: 700ms;
    opacity: 0.7;
}
#bFace a span{
    display: flex;
}
#bFace a span::after{
    content: "";
    background-image: url(../_media/_photos/facebook-logo.png);
    width: 20px;
    height: 20px;
}
#bFace a p{
    display: flex;
}
#bFace a:hover{
    border-radius: 30px;
    background-color: #485a96;
    opacity: 1;
}

#bInsta a{
    color: var(--button-color);
    font-size: 10pt;
    text-shadow: 0px 0px 4px #000000;
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #000000;
    width: 140px;
    justify-content: space-between;
    padding: 0 22px;
    transition: 700ms;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    opacity: 0.7;
}
#bInsta a span{
    display: flex;
}
#bInsta a span::after{
    content: "";
    background-image: url(../_media/_photos/instagram-logo.png);
    width: 20px;
    height: 20px;
}
#bInsta a p{
    display: flex;
}
#bInsta a:hover{
    border-radius: 30px;
    background-color: var(--button-inta);
    opacity: 1;
}