:root{
    --button-color: #ffffff;
    --button-whats: #44c654;
    --button-face: #485a96;
    --button-insta: ;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #3a3a3a;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}