:root{
    --button-color: #ffffff;
    --button-whats: #44c654;
    --button-face: #485a96;
    --button-insta: ;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}