nav#menu ul {
    display: flex;
    list-style: none;
    height: 80px;
    width: 100%;
    padding-left: 63%;
    background-color: #333333;
    justify-content: space-betwen;
    border-bottom: 2px solid #bbbbbb;
}

nav#menu ul a {
    color: var(--button-color);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav#menu ul a:hover {
    background-color: #292929;
}


@media (max-width: 872px) {
    nav#menu ul {
        padding-left: 0;
        justify-content: center;
        
    }
}