nav#menu img{
    position: absolute;
    height: 80px;
    margin-left: 2%;
}

nav#menu ul {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    height: 80px;
    background-color: #7c2020;
    border-bottom: 2px solid #bbbbbb;
}

nav#menu ul a {
    color: var(--text-main-color);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 20px;
}

nav#menu ul a:hover {
    background-color: #861313;
}