body {
    background: #d2dbda;
}
    
nav#menu ul a#oV {
    background-color: #be1916;
}
    
main section#orcamento-page {
    height: 100%;
    max-height: 710px;
}
    
main section#orcamento-page form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 8% auto;
    font-weight: bold;
}
    
main section#orcamento-page form input {
    margin: 8px 0;
    padding: 10px 5px;
    border: 1px solid #3d3d3d;
    border-radius: 6px;
    outline: none;
}
    
main section#orcamento-page form textarea {
    margin: 8px 0;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
    padding: 10px 5px;
}
    
main section#orcamento-page form input#foto {
    width: max-content;
    border: 0;
    outline: none;
    cursor: pointer;
}
    
main section#orcamento-page form input#buttonS {
    padding: 25px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 20px;
    margin-top: 3%;
    cursor: pointer;
    background-color: #11ca27;
    color: var(--text-main-color);
    font-weight: bold;
    font-size: 15pt;
    box-shadow: 0px 0px 3px #000000;
    text-shadow: 0px 0px 5px #000000;
    outline: none;
    transition: 700ms;
}
    
   main section#orcamento-page form input#buttonS:hover {
    border-radius: 40px;
    width: 30%;
   }

main section#orcamento-page form label {
    margin-top: 10px;
}