body{
   background-image: url(../_media/_photos/backgroundServicos.png);
   background-color: #333333;
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
}

section#content-servicos {
    width: 70%;
    height: 100vh;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 30px;

}

section#content-servicos ul{
    list-style: none;
}

section#content-servicos ul h3, h1{
    font-family: 'Ubuntu', sans-serif;
}

nav#menu ul a#s {
    background-color: #be1916;
}
img{
    width: 200px;
    height: 200px;
    align-content: center;
}