body{
    background-color: #333333;
}

section#content-servicos {
    width: 70%;
    height: 100vh;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 30px;

}

section#content-servicos ul{
    list-style: none;
}