body{
   background-image: url(../_media/_photos/backgroundServicos.png);
   background-color: #333333;
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   height: 100%;
}

section#content-servicos {
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 30px;0

}

section#content-servicos ul{
    list-style: none;
}

section#content-servicos ul h3, h1{
    font-family: 'Ubuntu', sans-serif;
}

nav#menu ul a#s {
    background-color: #be1916;
}
.vendas{
    /*width: 175px;
    height: 175px;*/
    width: 100%;
    height: 145px;
    cursor: pointer;
}
.galeria1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 23px;
    grid-column-gap: 23px;
  
}
#content{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}
#modal_img{
    width: 35%;
    height: 70%;
}
.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    visibility: hidden;
}
.modal_content{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
#bt_close{
    color: #ffffff;
    position: absolute;
    top: 10px;
    right: 40px;
    padding: 5px 10px;
    font-size: 25px;
    cursor: pointer;
}