body{
    background-color: #111111;
    
}

section#sobre-nos-cont {
    height: 92vh;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
section#sobre-nos-cont iframe {
    border-radius: 5px;
}
section#sobre-nos-cont p {
    width: 30%;
    font-size: 15pt;
    text-align: justify;
    font-style: italic;
    text-indent: 50px;
    font-family: 'Hind Siliguri', sans-serif;
    color: var(--button-color);
}

section#sobre-nos-cont p span {
    font-size: 13pt;
}

nav#menu ul a#sN {
    background-color: #be1916;
}