@media (max-width:925px) {
    
    main section#orcamento-page {
        height: 100%;
    }

}

@media (max-width:712px) {
    main section#orcamento-page {
        height: 100%;
    }
}

@media (max-width:500px) {

    main section#orcamento-page form {
        border-radius: 10px;
    }

    main section#orcamento-page form input#buttonS {
        padding: 18px 80px;
        display: flex;
        justify-content: center;
        align-self: center;
        border-radius: 50px;
        margin-top: 15%;
        margin-bottom: 5%;
        cursor: pointer;
        font-size: 13pt;
    }

}