@media (max-width: 872px) {

    #bInsta a {
        opacity: 1;
    }

    #bFace a {
        opacity: 1;
    }

    #bWhats a {
        opacity: 1;
    }
}


   

@media (max-width: 768px) {
    /*Botão Whats quadrado*/
    #bWhats a {
        width: 50px;
        height: 50px;
        padding: 0 5px;
        border-radius: 30px;
    }

    #bWhats a span {
        margin-left: 25%;
    }

    #bWhats a p {
        visibility: hidden;
    }

    /*Botão Face quadrado*/
    #bFace a {
        width: 50px;
        height: 50px;
        padding: 0 5px;
        border-radius: 30px;
    }

    #bFace a span {
        margin-left: 25%;
    }

    #bFace a p {
        visibility: hidden;
    }
     /*Botão Insta quadrado*/
     #bInsta a {
        width: 50px;
        height: 50px;
        padding: 0 5px;
        border-radius: 30px;
        box-sizing: border-box;
        font-size: 0pt;
    }

    #bInsta a span {
        margin-left: 25%;
    }

    #bInsta a p {
        visibility: hidden;
    }
}

