@media (max-width: 768px) {

    section#sobre-nos-cont{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    section#sobre-nos-cont p{
        margin-bottom: 10%;
        margin-top: 5%;
        font-size: 25px;
        line-height: 35px;
        width: 105%;
        text-align: justify;
    }

    section#sobre-nos-cont iframe{
        margin-top: 10%;
        width: 650px;
        height: 650px;
        box-shadow: 0px 0px 5px var(--text-main-color);
    }

    section#sobre-nos-cont p span {
        font-size: 25pt;
    }
}

@media (max-width: 425px) {

    section#sobre-nos-cont{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    section#sobre-nos-cont p{
        margin-bottom: 10%;
        margin-top: 10%;
        font-size: 17px;
        line-height: 22px;
        width: 105%;
        text-align: justify;
    }

    section#sobre-nos-cont iframe{
        margin-top: 10%;
        width: 375px;
        height: 550px;
        box-shadow: 0px 0px 5px var(--text-main-color);
    }

    section#sobre-nos-cont p span {
        font-size: 17pt;
    }
}

@media (max-width: 375px) {

    section#sobre-nos-cont{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    section#sobre-nos-cont p{
        margin-bottom: 10%;
        margin-top: 10%;
        font-size: 15px;
        line-height: 22px;
        width: 105%;
        text-align: justify;
    }

    section#sobre-nos-cont iframe{
        margin-top: 10%;
        width: 325px;
        height: 450px;
        box-shadow: 0px 0px 5px var(--button-color);
    }

    section#sobre-nos-cont p span {
        font-size: 15pt;
    }
}

@media (max-width: 320px) {

    section#sobre-nos-cont{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    section#sobre-nos-cont p{
        margin-bottom: 10%;
        margin-top: 10%;
        font-size: 13px;
        line-height: 20px;
        width: 95%;
        text-align: justify;
    }

    section#sobre-nos-cont iframe{
        margin-top: 10%;
        width: 275px;
        height: 350px;
        box-shadow: 0px 0px 5px var(--button-color);
    }

    section#sobre-nos-cont p span {
        font-size: 13pt;
    }
}